*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    background: url(1.jpg);
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,to top,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 110vh;
}
.head{
    padding-left: 10px;
    color: #ff7200;
    float: left;
    font-family: Arial;
    margin-top: 25px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
   justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 500px;
    float: left;
    margin-left: 300px;
   margin-top: 25px
}
.src{
    height: 25px;
    width: 200px;
    font-family: 'Times New Roman';
    background: transparent;
    border: 1px solid #ff7200;
    border-right: none;
    color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.btn{
    float:left;
    width:100px;
    height:25px;
    background-color: #ff7200;
    color: white;
    margin-right: 10px;
    border: none;
    font-weight: bold;


    
}
button:focus{
    outline: none;
}
.src:focus{
    outline:none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.content .par{
    padding: 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 35px;
    font-size: 12px;
    font-weight: bold;
}
.HEAD{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}
.HEAD span{
    color: #ff7200;
}
.bns{
    margin-top: 10px;
    padding: 5px;
    border-radius: .5rem;
    border: none;
    margin-bottom: 10px;
    
}
.bns a{
    text-decoration: none;
    transition: 0.3s ease;
}
.form{
    height: 400px;
    width: 350px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 80px;
    left: 870px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form .mail{
    outline: none;
}
.form h2{
    color: #ff7200;
    width: 320px;
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 70px;
    font-family: sans-serif;
    margin-top: 10px;
}
.form input{
    height: 20px;
    width: 200px;
    border-bottom: 1px solid #ff7200;
    border-left: none;
    border-right: none;
    border-top:none ;
    padding: 10px;
    background: transparent;
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
    outline: none;
}
.form input:hover{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.form input[type="email"]:focus,
.form input[type="email"]:active{
    outline: none;
   
}
.BTN{
    width:140px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff7200;
    color:white;
    border: none;
    margin-left: 10px;
    font-weight: bold;
}
.BTN:hover{
 background-color:white;
  color: #ff7200;
  transition: 0.4s ease;
}
.BTN a{
    text-decoration: none;
    font-weight: bold;
}
.act{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;

}
.form a{
    text-decoration: none;
    color: #ff7200;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.liw{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.logo ion-icon{
    gap: 10px;
    padding: 10px;
    font-size: 22px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.logo ion-icon:hover{
    color: #ff7200;
}
#signup{
    height: 450px;
    width: 400px;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    left: 20%;
    top: 20%; 
    display: none;
    z-index: 2;
}
#signup input{
    height: 20px;
    width: 200px;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top:none ;
    padding: 10px;
    background: transparent;
    color: black;
    letter-spacing: 1px;
    font-family: sans-serif;
    outline: none;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
   
}
#signup input::placeholder{
    color: black;
}
.bg{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 110vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}